*{
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@900&family=Special+Elite&display=swap');
body{
  margin: auto;
  width: 960px;
  text-align: center;
  background-color: #d8e2dc;
}
h1 {
  margin-top: 25px;
  font-size: xx-large;
  font-family: 'Patua One', cursive;
  text-transform: capitalize;
  background-color: #ffe5d9;
  margin-bottom: 25px;
  height:  60px;
  text-align: center;
  padding-top: 10px;
}
main {
  margin: 15px auto;
}

button{
  width: 175px;
  height: 50px;
  color: rgb(5, 5, 5);
  margin-bottom: 20px;
  background-image: url(https://www.kindpng.com/picc/m/418-4183748_download-background-watercolor-pink-hd-png-download.png);
  background-repeat: no-repeat;
  background-size: cover;
  

}

img{
  width: 300px;
  height: 350px;
  padding: 20px;
  margin-bottom: 15px;
  background-color: #ffcad4;
  margin-left: 5px;
  margin-right: 5px;
}
li{
  padding: 10px;
  margin-bottom: 25px;
  font-family: 'Cinzel', serif;
font-family: 'Special Elite', cursive;
  font-size: 18px;
  text-transform: capitalize;


}
li:nth-child(even) {background-color: #f4acb7;}
li:nth-child(odd) {background-color: #9d8189;}


